body {
    background: #252627;
}
.container {
    text-align: center;
    margin-top: 30px;
}
table {
    margin: auto;
}
input {
    font-size: 38px;
    height: 70px;
    border: 5px solid #575757;
    border-radius: 15px;
}
button {
    border-radius: 15px;
    font-size: 40px;
    background: #03b1ff;
    width: 108px;
    height: 70px;
    margin: 5px;
    outline: none;
    border: none;
}
.calculator {
    display: inline-block;
    background: #191818;
    padding: 20px;
    border-radius: 15px;
}
h1 {
    color:#fff;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
button.clear {
    background: #FF3077 ;
}
